nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #0C0E0F;
    height: 7vh;
}

nav a {
    color: white;

}

.nav-links {
    width: 40%;
    height: 100%;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0C0E0F;
}

.logo-title {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    padding-left: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    height: 7vh;
    background-color: #0C0E0F;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.footer-links {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0C0E0F;
}


.profile-pic-footer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.props-children-container {
    min-height: 86vh;
    background-color: #0C0E0F;
}

@media all and (min-width: 600px) {
    .footer-links {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}