.post-container {
    width: 100vw;
    max-width: 400px;
    background-color: #0C0E0F;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.post-img {
    max-width: 400px;
    max-height: 400px;
}

.post-top-container {
    display: flex;
    justify-content: space-between;
}

.post-buttons-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.post-kebob {
    cursor: pointer;
}

.post-username-container {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.post-username-container a {
    margin: 7px;
    text-decoration: none;
    color: white;
}

.post-user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.post-content-container {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.post-username {
    padding: 5px 10px;
}

.post-content {
    padding: 5px 0;
    text-align: left;
    
}

.post-comments-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-self: flex-start;
    margin: 0 0 10px 10px;
    
}

.post-comments-container a {
    text-decoration: none;
    color: #244AFF;
    padding: 5px;
}

@media all and (min-width: 600px) {
    .post-container {
        padding: 0 20px;
        border-left: 1px solid #495057;
        border-right: 1px solid #495057;
    }
}