.container {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #0C0E0F
}

.container h1 {
    margin-bottom: 30px;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
}

.authform input, button {
    width: 85%;
    height: 25px;
    margin: 5px;
    font-size: 15px;
}

.authform input {
    background-color: #181B1E;
    outline: none;
    border: 1px solid #181B1E;
    padding-left: 10px;
    color: white;
}

.authform button {
    margin-top: 20px;
    height: 35px;
    width: 90%;
	background-color:#244AFF;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.authform button:disabled {
    opacity: 0.5;
}

.bottomlink {
    position: absolute;
    bottom: 0;
    color: #6C757D;
    width: 100vw;
    margin-top: 40px;
    border-top: 1px solid #6C757D;
    padding: 20px;
}

.bottomlink a {
    text-decoration: none;
    color: #244AFF;
}

